name: Deploy to AWS

on:
  push:
    branches:
    - main

env:
  LAMBDA_FEED: 'worker-feed'
  LAMBDA_DISCORD: 'worker-discord'
  LAMBDA_SERVER_LOGS: 'worker-server-logs'

jobs:
  # JOB 01
  Deploying_functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      # https://awscli.amazonaws.com/v2/documentation/api/latest/reference/lambda/update-function-configuration.html
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy $LAMBDA_FEED to AWS Lambda
        run: |
          zip -r $LAMBDA_FEED.zip . -x ".git/*" ".github/*" "static/*"
          aws lambda update-function-code --function-name=$LAMBDA_FEED --zip-file=fileb://$LAMBDA_FEED.zip
          aws lambda update-function-configuration --function-name=$LAMBDA_FEED --handler=./api/$LAMBDA_FEED.handler

      - name: Deploy $LAMBDA_SERVER_LOGS to AWS Lambda
        run: |
          zip -r $LAMBDA_SERVER_LOGS.zip . -x ".git/*" ".github/*" "static/*"
          aws lambda update-function-code --function-name=$LAMBDA_SERVER_LOGS --zip-file=fileb://$LAMBDA_SERVER_LOGS.zip
          aws lambda update-function-configuration --function-name=$LAMBDA_SERVER_LOGS --handler=./api/$LAMBDA_SERVER_LOGS.handler